/*

footer--color
=======

Size modifier for buttons. Three sizes: primary, secondary, tertiary.

    <div class="btn--primary">Lol</div>
*/


.btn--alpha {
    font-size: 20px;
    padding: 10px;
}

.btn--secondary {
    font-size: 10px;
    padding: 10px;
}