/**
  * @name Icons
  * @description Style for the icons class
  * @state :after - after state
  * @markup
  *   <div class="icons">markup</div>
  */

.icons {
    display: block;
    &:after {
        content:"";
        display: block;
        background-color: red;
        width: 10px;
        height: 10px;
    }
}