/*

buttons--color
=======

Color modifier for buttons.

    <div class="btn--red">Lol</div>
*/


.btn--yellow {
    background-color: yellow;
    color: white;
}

.btn--blue {
    background-color: blue;
    color: white;
}