/**
  * @name Button
  * @description Style for the button class
  * @link lol
  * @markup
  *   <div class="button">markup</div>
  */



.button {
    border: 1px solid black;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 3px;

    &.active {
          border: 1px solid orange;
          background-color: yellow;
          color: black;
    }
}

/**
  * @name Button active
  * @description Style for the button--active class
  * @markup
  *   <div class="button--active">markup</div>
  */

.button--active {
    background-color: black;
}




